{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          // Ignore ie and opera so we can use async/await without generators and optional chaining
          // This also allow us to use fetch without a polyfill dependency
          "browsers": [
            "defaults",
            "not ie 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}