/* 
NOTE: Don't use relative sizes like rem. We cannot control/override 
      the font-size of the page where the popup is being displayed. 
*/
:root {
  --header-heigh: 48px;
  --color-surface: rgb(237 237 244);
  --color-surface-high: rgb(231 232 238);
  --color-on-surface: rgb(25 28 32);
  --color-primary: rgb(214 210 210);
  --color-on-primary: rgb(31 31 31);

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface: rgb(29 32 36);
    --color-surface-high: rgb(40 42 47);
    --color-on-surface: rgb(226 226 233);
    --color-primary: rgb(47 47 47);
    --color-on-primary: rgb(255 255 255);
  }
}

#dsc_popup {
  font-family: sans-serif;
  position: fixed;
  width: 360px;
  right: 16px;
  bottom: 16px;
  z-index: 3000;
  background: var(--color-surface);
  color: var(--color-on-surface);
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: animateElement linear 0.3s;
  transition: opacity 0.3s ease-out;
}

@keyframes animateElement {
  0% {
    opacity: 0;
    transform: translate(0px, 10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

#dsc_popup.minimized {
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}

#dsc_popup.minimized:hover {
  opacity: 1;
}

#dsc_popup .header {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  display: flex;
  font-weight: bold;
  border-radius: 4px 4px 0px 0px;
  height: var(--header-heigh);
}

#dsc_popup .header .title {
  cursor: auto;
  padding-left: 16px;
  flex-grow: 1;
}

#dsc_popup.minimized .header .title {
  cursor: pointer;
}

#dsc_popup .header .close-popup-button,
#dsc_popup .header .minimize-popup-button {
  height: var(--header-heigh);
  width: var(--header-heigh);
  text-align: center;
  border-radius: 4px;
}

#dsc_popup .header .close-popup-button:hover {
  background: #ff7070;
}

#dsc_popup .header .minimize-popup-button:hover {
  background: #70a2ff;
}

#dsc_popup .list {
  max-height: 240px;
  overflow-y: scroll;
  transition: max-height 0.2s ease-out;
}

#dsc_popup.minimized .list {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

#dsc_popup .list .list-item {
  padding: 12px 16px;
  cursor: pointer;
}

#dsc_popup .list .list-item:hover {
  background: var(--color-surface-high);
}

#dsc_popup .list .list-item a {
  text-decoration: none;
  color: var(--color-on-surface);
}

#dsc_popup .list .list-item a .subtitle {
  opacity: 0.6;
}

#dsc_popup .spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #808080;
  border-top: 3px solid var(--color-on-surface);
  border-radius: 50%;
  animation: spinner-rotate 1s cubic-bezier(0.6, 0.3, 0.3, 0.6) infinite;
  margin: 12px auto;
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}